alabaster==0.7.12
argh==0.26.2
asgiref==3.3.1
astropy==4.0.2
async-generator==1.10
atomicwrites==1.4.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bkcharts==0.2
boto==2.49.0
brotlipy==0.7.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
comtypes==1.1.7
contextlib2==0.6.0.post1
currencyconverter==0.15
cycler==0.10.0
cytoolz==0.11.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.7
docutils==0.16
Flask==1.1.2
ftputil==5.0.1
future==0.18.2
glob2==0.7
h5py==2.10.0
HeapDict==1.0.1
imagesize==1.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
json5==0.9.5
jupyter==1.0.0
jupyter-core==4.6.3
jupyterlab==2.2.6
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
Pillow==8.2.0
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
pycodestyle==2.6.0
pygame==2.0.1
PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyreadline==2.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4
pyzmq==19.0.2
QDarkStyle==2.8.1
QtPy==1.9.0
bcrypt==3.2.0 
cryptography==3.4.8 
paramiko==2.7.2 
pynacl==1.4.0 
pysftp==0.2.9
